$body-background-color: #ffffff;
$global-text-color: #24bdd3;
$global-font: Arial, Helvetica, sans-serif;
$global-border-color: #647f8c;
$navigation-font-size: 15px;
$article-background: #efefef;
$article-heading-color: #1697a6;
$article-heading-font-size: 100%;
$article-text-color: #688592;
$article-font-size: 15px;
$description-text-color: #159587;
$description-font-size: 12px;
$about-heading-font-size: 140%;
$about-font-size: 100%;
$contact-heading-font-size: 135%;
$contact-heading-font-size2: 93%;
$footer-color: #687e8a;