$body-background-color: #efefef;
$global-text-color: #fc5d3b;
$global-font: "Times New Roman", Times, serif;
$global-border-color: #d3dbde;
$navigation-font-size: 18px;
$article-background: #ffffff;
$article-heading-color: #617d8a;
$article-heading-font-size: 130%;
$article-text-color: #757578;
$article-font-size: 18px;
$description-text-color: #c1c3ca;
$description-font-size: 12px;
$about-heading-font-size: 180%;
$about-font-size: 120%;
$contact-heading-font-size: 180%;
$contact-heading-font-size2: 120%;
$footer-color: #807575;